$textcolor: gray;
$titlesize:20px;

%text{
    text-align: center;
    color:$textcolor;
}

h2{
    @extend %text;
    padding: 40px;
}

h4{
    @extend %text;
    padding: 30px;
}

td{
    padding: 5px;
}

.newstitle{
    color: darkred;
    font-size: $titlesize;
}

.newstitle:hover{
    color: red;
}

.newssummary{
    font-size: 15px;
}

#videos{
    span{
        color: darkslategrey;
        font-size: $textsize;
        font-style: oblique;
        padding: 10px;
    }
}

@media not print {
    body {
      background-color: rgb(240, 240, 240);
    }
  }

