{% if logged %}
{% extends "layoutlogged.html" %}
{% else %}
{% extends "layout.html" %}
{% endif %}

{% block title %}
Book {{ book.title }}
{% endblock %}

{% block body %}
<div>
    <h2>Title: {{ book.title }}</h2>
    <h4>Author: {{ book.author }}</h4>
    <h4>Year: {{ book.year }}</h4>
    <h4>ISBN: {{ book.isbn }}</h4>
</div>
<div>
    <h4>Reviews</h4>

    {% for review in reviews %}
    <table>
        <tr>
            <td>
                User: {{ review.username }}
            </td>
        </tr>
        <tr>
            <td>
                Rating: {{ review.rating }}
            </td>
        </tr>
        <tr>
            <td>
                Review: {{ review.description }}
            </td>
        </tr>
    </table>
    {% else %}
    <span>No reviews.</span>
    {% endfor %}

</div>

{% if goodreads %}

<div>
    <h4>GoodReads</h4>
    This book has {{ goodreads.reviews_count }} reviews and the rating is {{ goodreads.average_rating }}.
</div>

{% endif %}

<div>
    <h4>Submit your review</h4>

    <form action="{{ url_for('book', isbn=book.isbn) }}" method="post">
        <input type="hidden" value="{{ book.isbn }}" />
        <div class="form-group">
            <input class="form-control" name="rating" placeholder="Rating...">
        </div>
        <div class="form-group">
            <textarea class="form-control" name="description" placeholder="Review..."></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Submit Review</button>
        </div>
    </form>
</div>

{% endblock %}