{% extends "layout.html" %}


{% block title %}
RA Books - Search
{% endblock %}

{% block body %}
<div class="section">
<h2>Search a book review</h2>
<form action="{{ url_for('search') }}" method="post">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Type title, author or ISBN..."  name="text" required />
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" >Search</button>
    </div> 
  </div>
 </form>
 </div>

 
 {% if message %}
<div class="alert alert-light" role="alert">
  {{message}}
</div>
{% endif %}


<div class="section">
{% for book in books %}
<div>
<a href="{{ url_for('book',isbn=book.isbn) }}">{{book.title}} - {{book.author}} - {{book.year}} - {{ book.isbn }}</a>
  </div>
{% endfor %}
</div>  



{% endblock %}