{% if logged %}
{% extends "layoutlogged.html" %}
{% else %}
{% extends "layout.html" %}
{% endif %}

{% block title %}
RA Books - Search
{% endblock %}

{% block body %}
<h1>Search a book review</h1>
<form action="{{ url_for('search') }}" method="post">
    <div class="form-group">
        <input type="text" name="text" /> <button class="btn btn-primary">Search</button>
    </div>  
</form>

{% for book in books %}
<div>
<a href="{{ url_for('book',isbn=book.isbn) }}">{{ book.isbn }} - {{book.title}} - {{book.author}} - {{book.year}}</a>
</div>    
{% endfor %}


{% endblock %}