{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Pinocchio's Pizza & Subs</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'orders/styles.css' %}" />

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script src="{% static 'orders/scripts.js' %}"></script>

    {% block extrahead %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-xl navbar-dark " style="background-color: #239346;">
        <span class="navbar-brand">Pinocchio's Pizza & Subs</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                {% comment %} <li class="nav-item"><a class="nav-link" href="/">home</a></li> {% endcomment %}

                {% if is_authenticated and is_admin %}
                <li class="nav-item"><a class="nav-link" href="/orders">orders</a></li>
                {% endif %}

                {% if is_authenticated and not is_admin %}
                <li class="nav-item"><a class="nav-link" href="/menu">menu</a></li>
                {% endif %}

                {% if is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="/logout">logout</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="/">login</a></li>
                <li class="nav-item"><a class="nav-link" href="/register">register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        {% if is_authenticated %}
        <br>
        <h4>Hi {{ user.username }}!</h4>
        <br>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>
</body>

</html>