{% extends "orders/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-5">
            <h3>Menu</h3>
            {% for item in menu %}
            <div>
                <h5> {{item.category}} </h5>
                {% for product in item.products %}
                <div>
                    <button data-toggle="collapse" data-target="#item{{ item.categoryid }}_{{ product.id }}"
                        class="btn">+</button>
                    {% if product.from == '' %}
                    {{product.name}}
                    {% else %}
                    {{product.name}} - from: {{ product.prices.0.price }}
                    {% endif %}
                </div>
                <div id="item{{ item.categoryid }}_{{ product.id }}" class="collapse">
                    <form action="{% url 'menu' %}" method="post" class="formadditem border rounded">
                        {% csrf_token %}

                        <input type="hidden" value="{{product.id}}" name="product">

                        <b>Options</b>
                        <br>

                        {% for price in product.prices%}
                        <input type="radio" name="size" id="size_{{price.id}}" value="{{price.id}}" checked="checked">
                        <label for="male">{{price.size}} - {{price.price}}</label>
                        <br>
                        {% endfor %}

                        {% if product.hasExtra %}

                        <b>Toppings / Extras</b>
                        <br>

                        {% for extra in product.extras %}
                        <input type="checkbox" value="{{extra.id}}" name="extra"
                            id="extra_{{item.categoryid}}_{{product.id}}_{{extra.id}}">
                        <label>{{extra.name}}</label><br>

                        {% endfor %}

                        {% endif %}

                        <b>Quantity</b>
                        <br>
                        <input type="number" min="1" max="10" name="quantity" value="1" />
                        <br />
                        <br>
                        <input type="submit" value="Add" class="btn btn-sm btn-outline-primary">
                    </form>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="col-1">
        </div>
        <div class="col-6">
            {% if order.items %}
            <div>
                <h3>My Order</h3>
                {% for item in order.items %}
                <form action="{% url 'removeitem' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{item.id}}" name="item">
                    <button type="submit" class="btn btn-sm btn-outline-danger">X</button> {{item.description}}
                </form>
                {% endfor %}
                <br>
                <b>Total:</b> {{order.total}}
            </div>
            <br>
            <div>
                <form action="{% url 'confirmation' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-success">Place Order</button>
                </form>
            </div>

            {% endif %}
        </div>
    </div>
</div>
{% endblock %}