{% extends "orders/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>Menu</h3>
            {% for item in menu %}
            <div>
                <h5> {{item.category}} </h5>
                {% for product in item.products %}
                <div>
                    <button data-toggle="collapse" data-target="#item{{ item.categoryid }}_{{ product.id }}"
                        class="btn">+</button>
                    {% if product.from == '' %}
                    {{product.name}}
                    {% else %}
                    {{product.name}} - from: {{ product.prices.0.price }}
                    {% endif %}
                </div>
                <div id="item{{ item.categoryid }}_{{ product.id }}" class="collapse">
                    <form action="{% url 'additem' %}" method="post" class="formadditem border rounded">
                        {% csrf_token %}

                        <b>Size</b>
                        <br>

                        {% for price in product.prices%}
                        <input type="radio" name="size" id="size{{item.categoryid}}_{{product.id}}_{{price.id}}"
                            value="size{{item.categoryid}}_{{product.id}}_{{price.id}}">
                        <label for="male">{{price.size}} - {{price.price}}</label>
                        <br>
                        {% endfor %}

                        {% if product.hasExtra %}

                        <b>Toppings / Extras</b>
                        <br>

                        {% for extra in product.extras %}
                        <input type="checkbox" value="extra_{{item.categoryid}}_{{product.id}}_{{extra.id}}" name="extra" id="extra_{{item.categoryid}}_{{product.id}}_{{extra.id}}">
                        <label>{{extra.name}}</label><br>

                        {% endfor %}

                        {% endif %}

                        <b>Quantity</b>
                        <br>
                        <input type="number" min="1" max="10" name="quantity" value="1" />
                        <br />
                        <br>
                        <input type="submit" value="Add" class="btn btn-primary">
                    </form>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="col-2">
        </div>
        <div class="col-4">
            <h3>Your Order</h3>
        </div>
    </div>
</div>
{% endblock %}