.messageblock {
    overflow: hidden;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .message {
    border: 1px;
    border-style: solid;
    border-color: silver;
    padding: 2px;
    padding-left: 5px;
    margin: 3px;
  }

  .typefield {
    margin: 10px;
    width: 98%;
  }

  div.fixedtop {
    position: absolute;
    width: 100%;
    top: 0px;
  }

  div.fixedbottom {
    position: absolute;
    width: 99%;
    bottom: 0px;
    margin: 5px;
  }

  table,
  tr,
  td {
    width: 100%;
  }

  .usernameform
  {
    width: 300px;
    margin-top: 100px;
  }

  #channels > button
  {
    margin:3px;
  }